<!doctype html>
<html>
  <head>
    <title>Bakshi</title>
  <meta charset="UTF-8">
  <meta name="description" content="Compare CSV files from different sources to identify discrepancies.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="static/style.css">
  <!-- Angular.js -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <!-- Bakshi Angular App -->
  <script src=static/app.js></script>
  <!-- Materialize JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <!-- DataTables CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css"/>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- DataTables JS -->
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>

 </head>
  <body>
    <header>
      <nav class="nav-wrapper blue-grey darken-4">
        <div class="container">
          <a href="{{ url_for('index') }}" class="brand-logo">Bakshi</a>
          <a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="https://6sense.atlassian.net/wiki/spaces/SEC/pages/2792129218/IT+Security+Automation+Tool+Bakshi+Design+Documentation">About</a></li>
            <li><a href="https://6si.slack.com/archives/C041YUDNATA">Contact</a></li>
            {% if current_user.is_authenticated %}
            <li><span class="welcome-text">Welcome, {{ current_user.id }}</span></li>
            <li>
              <!-- Add the dropdown trigger -->
              <a class="dropdown-trigger" href="#" data-target="account-dropdown">
                <img src="https://img.icons8.com/ios-glyphs/30/000000/settings.png" alt="icon" class="icon-image">
              </a>
            </li>
            {% endif %}
          </ul>
          <!-- Add the dropdown menu -->
          {% if current_user.is_authenticated %}
          <ul id="account-dropdown" class="dropdown-content terminal-dropdown">
            <li><a href="{{ url_for('change_password') }}">Change Password</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            <li><a href="{{ url_for('view_users') }}">All Users</a></li>
            <li class="divider"></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
          </ul>
          {% endif %}
        </div>
      </nav>
    </header>

      <h1>Time Stamp Report</h1>
      {% include "chart.html" %}
      <div id="mdm_filter"></div>
      <div id="cs_filter"></div>

      <div class="container">

  <div class="button-wrapper">
    <button id="toggle_filter">Exclude "Not Found"</button>
  </div>
</div>
  <table id="timeTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
      <tr>
        {% for header in headers %}
          <th>{{ header }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
        <tr>
          {% for cell in row %}
            <td>{{ cell }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Add DataTables JS and jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
  <script>
    $(document).ready(function() {
    // Custom filter function to filter rows based on the filterMode
    var filterMode = 0;
    $.fn.dataTable.ext.search.push(function(settings, data, dataIndex) {
      var rowContainsNotFound = false;
      for (let i = 0; i < data.length; i++) {
        if (data[i].toLowerCase().includes("not found")) {
          rowContainsNotFound = true;
          break;
        }
      }

      if (filterMode === 0) {
        return !rowContainsNotFound;
      } else if (filterMode === 1) {
        return true;
      } else if (filterMode === 2) {
        return rowContainsNotFound;
      }

      return true;
    });

    // Initialize DataTable with custom options
    var table = $('#timeTable').DataTable({
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
      "searching": true,
      "ordering": true,
      "paging": true
    });

    // Update filterMode and apply custom filter when the 'toggle_filter' element is clicked
    $('#toggle_filter').on('click', function() {
      filterMode = (filterMode + 1) % 3;
      switch (filterMode) {
        case 0:
          $(this).text('Exclude "Not Found"');
          break;
        case 1:
          $(this).text('Include "Not Found"');
          break;
        case 2:
          $(this).text('Only "Not Found"');
          break;
      }
      table.draw();
    });
  });
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.dropdown-trigger');
      var instances = M.Dropdown.init(elems, {constrainWidth: false});
    });
  </script>
  </body>
</html>






